In [1]:
from sklearn.preprocessing import MinMaxScaler
import pandas as pd
import numpy as np

#### Verificação de valores e criação de features

In [11]:
df_acao_bruto = pd.read_csv('AAPL_7anos.csv')
df_acao_bruto['Date'] = pd.to_datetime(df_acao_bruto['Date'])
df_acao_bruto.info()

df_acao = df_acao_bruto[['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']]
df_acao['Weekday'] = df_acao_bruto['Date'].dt.weekday
df_acao['Month'] = df_acao_bruto['Date'].dt.month
df_acao['Year'] = df_acao_bruto['Date'].dt.year
df_acao['day_sin'] = np.sin(2 * np.pi * df_acao_bruto['Date'].dt.dayofyear / 365)
df_acao['day_cos'] = np.cos(2 * np.pi * df_acao_bruto['Date'].dt.dayofyear / 365)

df_acao.head()

Verificação de valores nulos e tipos de colunas:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1760 entries, 0 to 1759
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1760 non-null   datetime64[ns]
 1   Open       1760 non-null   float64
 2   High       1760 non-null   float64
 3   Low        1760 non-null   float64
 4   Close      1760 non-null   float64
 5   Adj Close  1760 non-null   float64
 6   Volume     1760 non-null   int64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 96.4 KB

,Open,High,Low,Close,Adj Close,Volume,Weekday,Month,Year,day_sin,day_cos
0,28.950001,29.082500,28.690001,29.037500,26.891960,115127600,1,1,2017,0.051620,0.998667
1,28.962500,29.127501,28.937500,29.004999,26.861864,84472400,2,1,2017,0.068802,0.997630
2,28.980000,29.215000,28.952499,29.152500,26.998463,88774400,3,1,2017,0.085965,0.996298
3,29.195000,29.540001,29.117500,29.477501,27.299456,127007600,4,1,2017,0.103102,0.994671
4,29.487499,29.857500,29.485001,29.747499,27.549498,134247600,0,1,2017,0.154309,0.988023

#### Normalização dos dados

In [14]:
cols_norm = ['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume', 'Weekday', 'Month', 'Year']

scaler = MinMaxScaler(feature_range=(-1, 1))
df_acao[cols_norm] = scaler.fit_transform(df_acao[cols_norm])

df_acao.head()

,Open,High,Low,Close,Adj Close,Volume,Weekday,Month,Year,day_sin,day_cos
0,-1.000000,-1.000000,-1.000000,-0.999616,-0.999647,-0.570271,-0.5,-1.0,-1.0,0.051620,0.998667
1,-0.999852,-0.999472,-0.997059,-1.000000,-1.000000,-0.714908,0.0,-1.0,-1.0,0.068802,0.997630
2,-0.999645,-0.998446,-0.996881,-0.998256,-0.998396,-0.694610,0.5,-1.0,-1.0,0.085965,0.996298
3,-0.997102,-0.994635,-0.994920,-0.994412,-0.994860,-0.514219,1.0,-1.0,-1.0,0.103102,0.994671
4,-0.993642,-0.990911,-0.990553,-0.991218,-0.991924,-0.480059,-1.0,-1.0,-1.0,0.154309,0.988023

#### Salvar arquivo tratado

In [15]:
df_acao.to_csv(f"AAPL_7_years_data_norm.csv", index=False)